<h2 class="text-2xl font-bold mb-4">Reactivos: Básicos</h2>
<hr class="mb-6">

<div class="flex flex-col">
  <div class="w-full">

    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()" class="space-y-6">

      <!-- Campo de producto -->
      <div class="flex flex-row">
        <label class="flex-3/12">
          Producto
        </label>
        <div class="flex-9/12">
          <input type="text" class="input input-bordered w-full" placeholder="Nombre del producto"
            formControlName="name">
          @if (isValidField('name')) {
          <span class="text-error text-sm mt-1">
            {{getFieldError('name')}}
          </span>
          }
        </div>
      </div>

      <!-- Campo de precio -->
      <div class="flex flex-row">
        <label class="flex-3/12">
          Precio
        </label>
        <div class="flex-9/12">
          <input type="number" class="input input-bordered w-full" placeholder="Precio del producto"
            formControlName="price">
          @if (isValidField('price')) {
          <span class="text-error text-sm mt-1">
            {{getFieldError('price')}}
          </span>
          }
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="flex flex-row">
        <label class="flex-3/12">
          Existencias
        </label>
        <div class="flex-9/12">
          <input type="number" class="input input-bordered w-full" placeholder="Existencias del producto"
            formControlName="inStorage">
          @if (isValidField('inStorage')) {
          <span class="text-error text-sm mt-1">
            {{getFieldError('inStorage')}}
          </span>
          }
        </div>
      </div>

      <!-- Botón -->
      <div class="flex justify-end">
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="flex flex-col mt-6">
  <div class="w-full space-y-4">
    <div>
      <span class="font-semibold">Valid</span>
      <pre>{{ myForm.valid | json }}</pre>
    </div>
    <div>
      <span class="font-semibold">Pristine</span>
      <pre>{{ myForm.pristine | json }}</pre>
    </div>
    <div>
      <span class="font-semibold">Touched</span>
      <pre>{{ myForm.touched| json }}</pre>
    </div>
    <div>
      <span class="font-semibold">Value</span>
      <pre>{{ myForm.value | json }}</pre>
    </div>
    <div>
      <span class="font-semibold">Errors</span>
      <pre>{{ myForm.controls['name'].errors | json }}</pre>
      <pre>{{ myForm.controls["price"].errors | json }}</pre>
      <pre>{{ myForm.controls["inStorage"].errors | json }}</pre>
    </div>
    <div>
      <span class="font-semibold">Precio</span>
      <pre>{{ myForm.controls['price'].value| json }}</pre>
    </div>
    <div>
      <span class="font-semibold">Producto</span>
      <pre>{{ myForm.controls['name'].value| json }}</pre>
    </div>
  </div>
</div>
